//@extends
%font-base{
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    // font-size: 1em; 
}
%font-titles{
    font-family: 'Playfair Display';
    font-weight: bold;
    font-style: normal;
    // font-size: 1.5em; 
}
%font-serif{
    font-family: 'Playfair Display';
    font-weight: normal;
    font-style: normal;
    font-size: 1em; 
}
%hover{
    opacity: 0.7;
    transition: opacity .8s;
}
$font-normal: normal;
$black-main:#111111;
$grey-light:#f3f3f3;
$white: #ffffff;
$blue-main: rgb(23, 112, 193);
$alert-low: #f9af09;
$alert-medium: #d58104;
$alert-hight: #cf572f;
$selected-text: #fcc109;