@import 'reset';
@import 'fonts';
@import 'mixins';
@import 'extends';

$alert-low: #ffa500;
body{
    font-size: 1em;
}
.hide{
    display: none;
}
.alert-low{
    background-color: $alert-low;
    color: $white;
}   
.alert-medium{
    
}
.alert-hight{

}
.main-grid-container{
    // height: 100vh;
    display: grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 200px 1fr 200px;
    
    grid-template-areas:
    "header"
    "main"
    "footer";


    header {
        // grid-column: 1 / 3;
        grid-area: header;
        // height: 30vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:2fr 1fr;
        background-color: $black-main;
        // padding-bottom: 2em;
        text-transform: uppercase;
        letter-spacing: 1px;

        img{
            margin: 0 auto;
            grid-column: 2 / 3;
            align-self: flex-start;
            justify-self: center;
            width: 46%;
        }
        .sub-menu{
            align-self: end;
            grid-column: 3 / 3;
            // margin-bottom: 1em;

            ul{
                display: flex;
                justify-content: space-around;

                li{
                    display: inline;
                    padding: 1em;
                    @extend %font-base;
                    color: $white;
                    cursor: pointer;
                    &:hover, &.active{
                        color:$blue-main;
                        text-decoration: underline;
                    }
                } 
            }
        }
        .main-menu{
            grid-column: 1 / 4;
            margin-top: 2em;
            background-color: $blue-main;
            ul{
                display: flex;
                text-align: center;
                justify-content: center;
                align-content: center;
                li{
                    display: inline;
                    padding: 1.3em;
                    @extend %font-base;
                    color: $white;
                    cursor: pointer;
                    &:hover, &.active{
                        background-color: rgb(17, 80, 135);
                    }
                }
            }

        }
    }  
    main {
        // grid-column: 1 / 3;
        grid-area: main;
        // height: 75vh;
        width: 97%;
        margin: 3em auto;
        // justify-items: center;
        display: grid;
        grid-gap: .90em;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));//350
        @include desktop{

        }
    }
  
    .item-containers, .item-containers.quick-section{
        display: grid;
        // grid-template-rows: 1fr 1fr .7fr;
        grid-template-rows: 1fr 1fr minmax(max-content, max-content);
        background-color: $grey-light;
        padding: 3em 1em 1em 2em;
        // height: 80%;

        font-size: .80em;
        line-height: 1.2em;
        
        @include desktop{
            // grid-template-rows: 1fr 1fr .9fr;
        }
        figure{
            display: grid;
            img{
                grid-row: 1 / 3;
                align-self: center;
                // width: 15%;
                height: 194px;
                margin: 0 auto;
            }
        }
        .item-description{
            grid-row: 2 / 3;
            display: grid;
            align-self: start;
            text-align: center;

            @extend %font-base;
            
            h1{
                line-height: 1.2em;
                font-size: 1.5em;
                margin-bottom: 1.3em;
            }
            p{
                font-size:1em;
                line-height: 1.4;
                letter-spacing: 0.3px;
            }
        }
        .item-values{
            grid-row: 3 / 3;
            display: inline-flex;
            justify-content: space-around;
            // align-self: end;
            text-align: center;
            width: 90%;
            margin: 0 auto;
            li{
                padding: .5em 1.5em;
                margin: 1.5em 0;
                
                span{
                    display: block;
                    margin-top: .5em;
                    font-size: 1.7em;
                    line-height: 1.2em;
                } 
            }
        }
    }
    article.section-detail{ ///Random page
        display: flex;
        flex-direction: column;
        position: relative;
            
        .item-containers.quick-section{
            // width: 75%;
            width: 97%;
            margin: 3em auto;
            display: grid;
            padding: 0;
            grid-template-rows: .5fr minmax(max-content,max-content) minmax(max-content,max-content) 1fr .5fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            position: relative;

            figure{
                grid-column: 2 / 3;
                grid-row: 2 / 5;
                img{
                    height: 26em;
                }
            }
            .item-description{
                grid-column: 3 / 4;
                grid-row: 2 / 3;
                padding: 0;
                h2{
                    font-size: 1.3em;
                    line-height: 1.2em;
                    margin-bottom: 1em;
                    color: $blue-main;
                }
            }
            .item-values{
                grid-column: 3 / 4;
                grid-row: 3 / 3;
            }
            .btn-item-modal{
                display: block;
                width: 60%;
                padding: 1em;
                margin: 1em auto;
                text-transform: uppercase;
                text-align: center;
                font-size: 1em;
                color: $white;
                background-color: $blue-main;
                cursor: pointer;
            
                grid-column: 3 / 4;
                grid-row: 4 / 5;
                &:focus{
                    outline: none;
                }
                &:hover{
                    background-color: $blue-main -5%;
                }
            }
            .btn-section-another{
                background-color: $alert-low;
                width: 20%;
                display: block;
                width: 60%;
                padding: 1em;
                margin: 1em auto;
                text-transform: uppercase;
                text-align: center;
                font-size: 1em;
                color: $white;
                cursor: pointer;


                position: absolute;
                bottom: -20%;
                width: 30%;
                left: 50%;
                transform: translateX(-50%);
                &:focus{
                    outline: none;
                }
            } 
        }
        

        .modal-container{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: auto;
            width: 30vw;
            background-color: $white;
            @extend %font-base;
            .modal-tittle{
                background-color: $blue-main;
                color: $white;
                text-transform: uppercase;
                padding: 1em;
                // width: 100%;
                position: relative;
                .modal-closed{
                    position: absolute;
                    right: 2%;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 1.3em;
                    padding: .5em;
                    cursor: pointer;
                }
            }
            .modal-description{
                padding: 2em;
                line-height: 1.5em;
                h3{
                    font-weight: bold;
                }
                p{
                    margin-bottom: 1em;
                }
            }
        }
    }
 
    footer {
        grid-area: footer;
        ul{
            margin: 1.3em auto;
            text-align: center;

            li{
                cursor: pointer;
                display: inline;
                color: $blue-main;
                font-size: 1.4em;
                padding: .7em 1em;
                &:hover, &.active{
                    color: $white;
                    background-color: $blue-main;
                }
            }
            
        }
        .sub-footer{
            // grid-column: 1 / 3;
            
            display: grid;
            // height: 15vh;
            height: 50px;
            background-color: $black-main;
            @extend %font-serif;
            color:$white;
            text-align: center;
            align-content: center;
        } 
    }
}



// .item{
//     align-self: center;
//     justify-self: center;
// }